.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Automatically enforces 3 columns per row */
  gap: 16px; /* Adjust spacing between items */
}

.background-blue{
  background-image: url(./assets/blueBackground.jpg);
  height: 200px;
  color:white;
}

.endingHeight{
  height: 500px;
  background-image: url(./assets/endingImage.avif);
  width: 500px;
  background-size: cover;

}